
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
ul img{
width: 30px;
height :30px;

}
li {
float: right;

}


li:first-child {
border-right: none;
float:left;

}

nav li a {
display: flex;
color: rgb(0, 0, 0);
text-align: center;
padding: 14px 16px;
text-decoration: none;
justify-content: flex-end;
gap: 10px;
}
nav {
    background-color: #fefefe; 
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    border-radius: 5px;
}
nav li a:hover {
color:#ffffff;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 10px;
transform: scale(1.1);
transition: background-color 0.5s ,transform 0.5s;
}